{% extends 'base.html' %}
{%load widget_tweaks%}
{%block title%}Board{%endblock%}


{%block body%}
<body>
<div class="p-2 mb-2 bg-dark  container my-4   text-center shadow  rounded " style="display:flex;
        flex-flow:row nowrap;">

    <span class="text-white " style="padding: 5px"> <b> Welcome <a style="text-decoration: none;color: white" href="{%url 'home'%}">{{user}}</a></b></span>
    <a href="{%url 'logout_page' %}" style="margin-left: auto">
        <button class="btn btn-outline-light"> Logout</button>
    </a>
</div>
<div class="container my-4 alert-success alert text-center">
    your password has been changed successfully!
</div>

</body>
{%endblock%}