{% extends 'base.html' %}

{%block title%}Boards | {{data.name}}{%endblock%}
<html>
{%block body%}
<body class="container">

<div class="p-2 mb-2 bg-warning
  container my-4   text-center shadow  rounded ">
    <a href="{%url 'home'%}" class="text-black text-decoration-none">Boards</a> > <a href="{%url 'topics' data.id%}">{{data.name}}</a>
<!--{{data.description}}-->

</div>
<div>
    <form method="post">
        {%csrf_token%}
        <div>
        <textarea name="post-content" id="" cols="30" rows="3" class="form-control" placeholder="write your post here"></textarea>
        </div>

        <div>
            <br>
        <input type="submit" class="btn btn-primary" value="add post">
        </div>
    </form>
</div>
{%for post_o in post%}
<div class="p-2  shadow  rounded container my-4">
    <div  style="word-wrap: break-word;">{{post_o.msg}}</div>
      <div class="text-muted" style="margin-top: 10px ; display: inline">
          created-at : {{post_o.created_date}} author : {{post_o.created_by}}
        <a href="{% url 'del_post' post_o.id %}" style="text-decoration: none">
            <button class="btn btn-danger" style="float:right;margin-top: -15px">
                Delete
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
            </button>
        </a>
  </div>
</div>
<i class="bi bi-trash"></i>
<!--    <p class="text-muted">created at :  {{post_o.created_date}}</p>-->

{%endfor%}
</body>
{%endblock%}
</html>