{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Board{% endblock %}
{% block body %}
    <body class="container">
    <div class="p-2 mb-2 bg-warning  container my-4   text-center shadow  rounded ">
        <a href="{% url 'home' %}" class="text-black">Boards</a>
    </div>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'include/base_form.html' %}
        <!--    <div class="p-2 mb-2   container my-4     rounded ">-->
        <!--        <lable >username</lable>-->
        <!--        <input class="form-control" type="text" name="username">-->
        <!--    </div>-->
        <!--    <div class="p-2 mb-2   container my-4     rounded ">-->
        <!--        <lable >Old Password</lable>-->
        <!--        <input class="form-control" type="password" name="old-pwd">-->
        <!--    </div>-->
        <!--    <div class="p-2 mb-2   container my-4     rounded ">-->
        <!--        <lable >New Password</lable>-->
        <!--        <input class="form-control" type="password" name="new-pwd">-->
        <!--    </div>-->
        <!--    <div class="p-2 mb-2   container my-4     rounded ">-->
        <!--        <lable >Confirm New Password</lable>-->
        <!--        <input class="form-control" type="password" name="con-pwd">-->
        <!--    </div>-->
        <div style="float: left">
            <input class="form-control btn btn-primary" style="float: right" type="submit" value="save changes">
        </div>
        <div style="float:right;">
            <a href="{% url 'home' %}" class="text-black">
                <input class="form-control btn btn-danger" type="button" value="cancel">
            </a>
        </div>
    </form>
    </body>
{% endblock %}